/*STYLE SHEET*/
html{
    scroll-behavior: smooth;
}
body{
  font-family: "Trebuchet MS", Helvetica;
  background-color: #9E1800;
  margin: auto;
  padding-bottom: 200px;
}
h1{
  text-align: center;
  font-size: 35px;
  padding-top: 40px;
  color: #F0DD35;
  text-decoration: underline overline;
  animation-duration: 2s;
  animation-name: bounceIn;
  display: grid;
  grid-template-columns: 1fr; 
}
h2{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-style: italic;
}
h2 a{
  font-size: 15px;
  text-decoration: none;
  color:#F0DD35;
}
h2 a:hover{
  text-decoration: underline;
}
h4{
	font-size: 20px;
	text-align: center;
	color: white;
	font-style: italic;
}
h4 a{
	font-size: 15px;
	text-decoration: underline;
	color: #F0DD35;
}
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
h3{
	text-align: center;
	font-size: 20px;
	padding:20px;
	font-weight: bold;
	color: #F0DD35;
}
h3 a{
	color: #F0DD35;
}
.nav{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: white;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 20px 0;
  text-align: left; 
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}
nav a{
  color: #9E1800;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav .current{
  color: black;
}
nav .fa{
  font-size: 25px;
  color: #9E1800;
}
nav li #current{
  color:black;
}
.skip a{
  background: #9E1800;
  color: white;
  font-size: 20px;
  left: 0;
  padding: 6px;
  position: absolute;
  margin-top: -60px;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip a:focus{
  margin-top:0px;
}
footer{
  background-color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: black;
}
footer a:hover{
  text-decoration: underline;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
p{
	font-size: 12px;
	align-items: center;
  justify-content: center;
  text-align: center;
}
#meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:10px solid white;
  border-radius: 25px;
}
#pastatypes{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:10px solid white;
  border-radius: 25px;
}
#contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border:10px solid white;
  border-radius: 25px;
}
.photos a{
	font-size: 35px;
}
.container{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	place-self:center;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
.container1{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
}
.container1 img{
	width: 350px;
}
.container1 a{
	color: #F0DD35;
}
.recipetext{
	place-self:center;
	color: white;
	font-size: 20px;
	padding: 40px;
}
.container2{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	color: #F0DD35;
}
.container3{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	color: white;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 20px;
}
input[type=submit] {
  background-color: white;
  font-size: 15px;
  font-family: "Trebuchet MS", Helvetica;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #F0DD35;
  color: #9E1800;
}
/*DESKTOP/LARGER SCREEN STYLING*/
@media screen and (min-width: 1281px){

h1{animation-duration: 2s;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container1{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 30px;
}

.recipetext{
place-self:center;}
}
/*TABLET STYLING*/
@media screen and (min-width: 700px) and (max-width: 1000px) {

h1{animation-duration: 2s;}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

nav .fa{
  font-size: 0px
}

.container1{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 30px;}

.recipetext{
	place-self:center;
	padding: 40px;}
}

/*MORE PHONE STYLING*/
@media screen and (max-width: 800px){
  h1{animation-duration: 0s}

  nav .fa{
  font-size: 15px;
  color: #9E1800;}

  .nav{
  width: 100%;
  background-color: white;
  text-align: center; }

  nav ul{
  list-style-type: none;
  text-align: center;}

  nav li{
  display: inline-block;}

  nav a{
  color: #9E1800;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;}
}

@media screen and (prefers-reduced-motion: reduce){
	h1{animation-duration: 0s;}
	
	.zoom{transition: transform 0s;}
	
	.zoom:hover {
		-ms-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		transform: scale(1.0);}
}
